<%= form_for(space_membership) do |f| %>
  <% if space_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space_membership.errors.count, "error") %> prohibited this space_membership from being saved:</h2>

      <ul>
      <% space_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :space_id %>
    <%= f.text_field :space_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
