
<%= link_to 'Return to spaces', spaces_path %>

<h2>
  <%= @space.name %>
</h2>

<h3>
  <%= @space.description %>
</h3>

<p>
  <strong>Visibility:</strong>
  <%= @space.visibility %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user.name %>
</p>

<div class="row">
  <div class="large-6 large-centered columns">
  
    <div class="panel">
      <h4><%= t 'New Post' %></h4>
      <%= render :partial => "posts/form", locals: {post: @post} %>
    </div>
    
    <hr>
    
    <% if @space.post.first.nil? %>
      <b><%= t 'No posts yet' %></b>
    <% else %>
      <% @space.post.order("created_at desc").each do |post| %>
      <%= render :partial => "posts/post", locals: {post: post} %>
      <% end %>
    <% end %>
  </div>
</div>  