<div  class="panel callout radius">
  <%= render 'posts/post_content', post: post %>
  
  <button class="topcorner button settings-button" type="button" data-toggle="post_settings_<%=post.id %>">
    <i class="fa fa-angle-down"></i>
  </button>
  <div class="dropdown-pane settings-pane" id="post_settings_<%=post.id %>" data-dropdown data-auto-focus="true" aria-autoclose="true">
    <div><%= link_to "Edit", edit_post_path, :remote => true %></div>
    <div><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
  
</div>